@import "tailwindcss";

@theme {
	--color-brand-50: #eef5f1;
	--color-brand-100: #d5e7dd;
	--color-brand-200: #afcfbe;
	--color-brand-300: #81ad97;
	--color-brand-400: #578a72;
	--color-brand-500: #3c7057;
	--color-brand-600: #2d5843;
	--color-brand-700: #264736;
	--color-brand-800: #24493a;
	--color-brand-900: #1e3c2f;
	--color-brand-950: #0f1f18;

	--animate-shimmer: shimmer 1.5s infinite;
}

@keyframes shimmer {
	100% {
		transform: translateX(100%);
	}
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}
